body {
    font-family: 'Monaco', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header .info {
    display: inline-block;
    vertical-align: top;
}

header .info h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 48px;
}

header .info h2 {
    vertical-align: top;
    margin-left: 20px;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

img {
    width: auto; /* Set the desired width */
    height: 250px; /* Let the height scale proportionally */
    display: inline-block;
}

.main {
    padding: 20px;
}

.main-info {
    padding-left: 20px;
}

.main-info .indent{
    padding-left: 30px;
}

.main-info .indent p{
    margin: 0;
}

.main-info .frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}