.all{
    margin:0px;
}

.sidebar-menu a:hover{
    text-decoration: underline;
}

.header-about a:hover{
    text-decoration:underline;
}

.header-about{
    text-align: center;
    color:white;
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    opacity:.8;
    height:auto;
    width:auto;
}

.header-about a{
    font-size:30px;
    color:white;
    text-decoration: none;
}

.quick-description{
    font-size:24px;
    text-align:center;
    height:auto;
    width:auto;
}

.menu{
    background-color: white;
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    color:black;
    height:75px;
}

.sidebar-menu{
    background-color: white;
}

.sidebar-menu li{
    padding-top:10px;
    text-align:center;
    width:25%;
    float:left;
    vertical-align: top;
    list-style-type:none;
}

.sidebar-menu li a{
    text-decoration:none;
    color:black;
}

.sidebar-socials{
    background-color: white;
}
.sidebar-socials li{
    padding-top:10px;
    text-align:center;
    width:25%;
    float:left;
    vertical-align: top;
    list-style-type: none;
}

.sidebar-socials li a{
    color:black;
}

.main p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}

.heading{
    text-align:center;
}

.heading h1{
    text-align:center;
    font-size:40px;
}

.heading h1 a{
    text-decoration:none;
    color:black;
    text-align:center;
    font-size:40px;
}

.heading h1 a:hover{
    text-decoration:underline;
}

.heading a{
    text-decoration:none;
    color:black;
    text-align:center;
    font-size:24px;
}

.heading a:hover{
    text-decoration:underline;
}

.heading h2{
    text-align:center;
    font-size:34px;
}

.heading p{
    font-size:24px;
}

.main-container img{
    width: 800px;
    height:400px;
    align-items: center;
}

.main-container{
    padding-left:10%;
    padding-right:10%;
}

.main-container p{
    padding-left:2.5%;
    align-items: center;
    font-size:24px;
}

.main-container li{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    color:black;
}